<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jit/jit.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css" type="text/css"> 
    
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/base.css" type="text/css"> 
    <title>View Your Network</title>
    <script type="application/javascript" src="{{ MEDIA_URL }}js/network.js" ></script>
    
    <!-- <script type="application/javascript" src="{{ MEDIA_URL }}js/json.js" ></script> !-->

</head>


    
<body onload="init();">
    

<div id="container"> 
 
<div id="center-container"> 
    <div id="infovis"></div>    
</div> 
{% if jsonNet %}
    <div id="data">{{ jsonNet }} </div>
    {% endif %}

</div>
</body> 



</html>

